// $bg-color: linear-gradient(to bottom, #5b5b5b, #000);
$bg-color: #1d1d1d;
$green-color: #81C784;
$gray-color: #e1e1e1;
$white-color: #FFF;
$black-color: #000;

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: $white-color;
}
::-webkit-scrollbar-track {
  background-color: $bg-color
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
a {
  text-decoration: none;
  color: $black-color;
}
#root {
  height: auto;
  min-height: 100%;
  background-color: $bg-color;
}
.btn {
  display: inline-block;
  height: 32px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 30px;
  white-space: nowrap;
  background-color: $green-color;
  border: none;
  border-radius: 4px;
  color: $white-color;
}
.movie-site {
  max-width: 1400px;
  padding: 60px;
  margin: 0 auto;
  .search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .inp-box {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 300px;
      input[type="text"] {
        width: 100%;
        height: 32px;
        padding: 0 8px;
        background-color: $white-color;
        border: 1px solid $gray-color;
        border-radius: 4px;
        &:focus {
          outline: none;
        }
      }
    }
    .sel-box {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 300px;
      select {
        width: 100%;
        height: 32px;
        padding: 0 8px;
        background-color: $white-color;
        border: 1px solid $gray-color;
        border-radius: 4px;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .movie-box {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    margin-top: 16px;
    .movie {
      width: calc(33.333% - 16px);
      background-color: $white-color;
      .img-box {
        display: block;
        height: calc(100% - 180px);
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.6s;
        }
      }
      &:hover {
        img {
          transform: scale(1.1);
          transition: all 0.6s;
        }
      }
      .text-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 180px;
        padding: 12px 16px;
        border-top: 1px solid $gray-color;
        .title {
          max-height: 54px;
          font-size: 20px;
          font-weight: 700;
          display: -webkit-box;
          white-space: normal;
          text-overflow: ellipsis;
          overflow: hidden;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .date {
          margin-top: 2px;
          font-size: 14px;
        }
        .desc {
          margin-top: 2px;
          font-size: 14px;
          display: -webkit-box;
          white-space: normal;
          text-overflow: ellipsis;
          overflow: hidden;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        .eval-box {
          display: flex;
          align-items: center;
          font-size: 14px;
          white-space: nowrap;
          & > p {
            padding-right: 7px;
            margin-right: 6px;
            position: relative;
            &::after {
              content: '';
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              width: 1px;
              height: 12px;
              background-color: $black-color;
            }
            &:last-child {
              padding-right: 0;
              margin-right: 0;
              &::after {
                display: none;
              }
            }
            span {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
.detail-page {
  height: 100vh;
  .bg-img-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(6px);
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $black-color;
      opacity: 0.7;
    }
  }
  .movie-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 100%;
    max-width: 1400px;
    height: 46vh;
    padding: 0 60px;
    color: $white-color;
    .img-box {
      display: block;
      height: 100%;
      img {
        height: 100%;
      }
    }
    .text-box {
      padding: 24px 0;
      .title {
        font-size: 28px;
        font-weight: 700;
      }
      .date {
        margin-top: 4px;
        font-size: 18px;
      }
      .eval-box {
        display: flex;
        align-items: center;
        margin-top: 8px;
        font-size: 18px;
        & > p {
          padding-right: 13px;
          margin-right: 12px;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 14px;
            background-color: $white-color;
          }
          &:last-child {
            padding-right: 0;
            margin-right: 0;
            &::after {
              display: none;
            }
          }
          span {
            font-weight: 700;
          }
        }
      }
      .desc {
        height: 400px;
        margin-top: 20px;
        font-size: 18px;
        word-break: keep-all;
        overflow: auto;
      }
      
    }
  }
}

@media screen and (max-width: 1024px) {
  .movie-site {
    .movie-box {
      .movie {
        width: calc(50% - 12px);
      }
    }
  }
  .detail-page {
    .movie-info {
      gap: 32px;
      height: 32vh;
      .text-box {
        .desc {
          height: 210px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .movie-site {
    padding: 5%;
    .movie-box {
      gap: 24px;
      .movie {
        width: calc(50% - 12px);
        .img-box {
          height: calc(100% - 210px);
        }
        .text-box {
          height: 210px;
          .title {
            font-size: 16px;
          }
          .eval-box {
            flex-direction: column;
            align-items: flex-start;
            & > p  {
              padding-right: 0;
              margin-right: 0;
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .detail-page {
    .movie-info {
      display: block;
      height: auto;
      .img-box {
        width: 50vw;
        img {
          width: 100%;
        }
      }
      .text-box {
        .desc {
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 512px) {
  .movie-site {
    padding: 5%;
    .movie-box {
      gap: 24px;
      .movie {
        width: 100%;
        .img-box {
          height: auto;
        }
        .text-box {
          height: auto;
          border-top: 0;
          .title {
            font-size: 16px;
          }
          .eval-box {
            display: none;
          }
        }
      }
    }
  }
  .detail-page {
    .movie-info {
      padding: 0 5%;
      .img-box {
        width: 100%;
        img {
        }
      }
      .text-box {
        .title {
          font-size: 22px;
        }
        .date {
          font-size: 16px;
        }
        .eval-box {
          font-size: 16px;
        }
        .desc {
          font-size: 16px;
        }
      }
    }
  }
}
